
*{
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#box1{
        display: flex;
         justify-content: space-between;
    }
    .product{
        width:250px;                
        border-radius: 15px;
        border: 2px solid rgb(248, 143, 143);
        background-color:#df5555;
    }
    .productbox{
        display: flex;
        justify-content: space-between;
        
        border-radius: 15px 15px 0 0;
    }
    .productimg{
        background-color: white;
        width: full;
    }
    .description{
        
        padding: 10px;
        text-align: center;
    }
    .description button{
        width:100%;
        padding: 5px;
    }