*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Poppins';
}
nav {
     display: flex;
     justify-content: space-between;
     align-items: center;     
     padding: 25px;
 }
 #box3{
    display: flex;
    gap: 15px;
 }
 #box3 a{
    color: lightcoral;
    text-decoration: none;    
 }
 #box4 {
     display: flex;
     gap: 15px;
 }